<!-- Nav responsive -->
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PRESCRIPTXN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="/register">PROFILE</a>
          <a class="nav-link" href="/medinfo">MEDICATION LIST</a>
          <a class="nav-link" href="/about">ABOUT</a>
        </div>
      </div>
    </div>
</nav>